@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100%;
    /* for touch screen */
    touch-action: none; 
  }
  
body {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Pacifico", sans-serif;
    background: #21071e;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
  
  #drag-container, #spin-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform: rotateX(-10deg);
            transform: rotateX(-10deg);
            z-index: 100;
  }
/* Make carousel images larger and responsive */
/* Stronger selector to ensure image dimensions take effect */
#spin-container img, #drag-container img, #drag-container video {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: absolute;
    left: 0;
    object-fit: cover;
  /* increased size for clearer visuals */
  width: 160px !important;
  height: 230px !important;
    background-position: center;
    background-position-y: 93px;
    background-size: cover;
    top: 0;
    line-height: 200px;
    font-size: 50px;
    text-align: center;
    -webkit-box-shadow: 0 0 8px #fff;
    box-shadow: 0 0 8px #fff;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
    border: 4px solid #fff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: rgba(188, 188, 188, 0) 1px 4px 7px, rgba(204, 204, 204, 0.064) 1px 3px 6px;
        animation: delayShadow 1s forwards;  /* run animation */
    animation-delay: 2s;   
}

@keyframes delayShadow {
  to {
box-shadow: rgb(0 0 0 / 0%) 1px 4px 7px, rgb(0 0 0 / 27%) 1px 3px 6px;
  }
}
  #drag-container img:hover, #drag-container video:hover {
    -webkit-box-shadow: 0 0 15px #fffd;
            box-shadow: 0 0 15px #fffd;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);
      box-shadow: rgba(0, 0, 0, 0.17) 1px 4px 7px, rgba(0, 0, 0, 0.24) 1px 3px 6px;
  }
  
#drag-container p {
    line-height: 116px;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) rotateX(90deg);
    transform: translate(-50%,-50%) rotateX(90deg);
    color: rgb(255 254 254);
    animation: fadein ease 15s;
}


  @keyframes fadein {
      from {
          opacity:0;
          
      }
      to {
          opacity: 1;
          
      }
  }
.button {
    height: 121px;
    padding: 10px 30px;
  background: url('./images/Message.png?v=20251107_01');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    position: absolute;
    top: 13%;
    left: 24%;
    opacity: 0;                     /* by default hidden */
    animation: showUp 1s forwards;  /* run animation */
    animation-delay: 5s;   
    transition: all .3s ease-in-out;
}

.button:hover {
  transform: scale(2.1);
}

@keyframes showUp {
  to {
    opacity: 1;   /* element visible */
  }
}
  
  #ground {
    width: 900px;
    height: 900px;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%) rotateX(90deg);
            transform: translate(-50%,-50%) rotateX(90deg);
    background: -webkit-radial-gradient(center center, farthest-side , #9993, transparent);
  }
  
  #music-container {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  
  @-webkit-keyframes spin {
    from{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    } to{
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  
  @keyframes spin {
    from{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    } to{
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
  }
  @-webkit-keyframes spinRevert {
    from{
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    } to{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  }
  @keyframes spinRevert {
    from{
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    } to{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  }

  #canvas {
    background-color:transparent;   
    color: transparent; 
    margin: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    width: 100vw;
  }


#canva {
    position: absolute;
    top: 0px;
    right: 0px;
    overflow: hidden;
}

p {
    font-weight: 600;
    font-size: 4vw;
    text-align: center;
    
}

@media screen and (max-width: 658px)    {
  p {
    font-weight: 600;
    font-size: 12vw;
    text-align: center;
}
  /* scale images down on small screens */
  #drag-container img, #drag-container video {
    width: 96px;
    height: 140px;
  }
}